.atm-targeted-container {
    display: none;
    top: 48px;
    transition: top 0.2s cubic-bezier(0, 1, 1, 1);
    -webkit-transition: top 0.2s cubic-bezier(0, 1, 1, 1);
    -moz-transition: top 0.2s cubic-bezier(0, 1, 1, 1);
    -o-transition: top 0.2s cubic-bezier(0, 1, 1, 1); }
.atm-targeted-container.modal-shown {
    display: block; }
.ribbon-visible .atm-targeted-container {
    top: 129px; }

.atm-targeted-modal {
    background: #fff;
    border: 1px solid #d3d3d3;
    border-top: none;
    border-radius: 0 0 9px 9px;
    width: 705px;
    font-size: 16px;
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif; }
.atm-targeted-modal .atm-head-modal .atm-modal-body p {
    font-size: 16px;
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif; }
.atm-targeted-modal .atm-head-modal .atm-modal-body .pay-help-block p {
    font-size: 14px; }
.atm-targeted-modal .atm-head-modal .atm-modal-body .pay-help-block p a {
    font-size: 13px;
    display: inline-block; }
.atm-targeted-modal a {
    color: #326891; }

.contrib-price {
    font-size: 14px; }

.atm-base-modal .atm-main {
    font-size: 16px;
    line-height: 17px; }
.atm-base-modal .atm-main .pledge-bottom small {
    font-size: 14px; }

.atm-base-modal .atm-sidebar-left .atm-avatar img {
    width: 90px;
    height: 90px;
}

.atm-button {
    background: #6288a5; }
.atm-button.pledge-targeted, .atm-button.refund-targeted {
    background: #6288a5; }
.atm-button.pledge-targeted:hover, .atm-button.refund-targeted:hover {
    background: #4d6e87; }
.atm-button:hover {
    background: #4d6e87; }

.unlock-btn {
    background: #6288a5;
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif; }

.mood-block-info {
    font-size: 16px;
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif; }

.pay-help-sm,
.close-connect {
    font-size: 13px; }

.share-block .sharetools-menu {
    margin-top: 10px; }

.share-block-inner .sharetool:last-child {
    margin: 0; }
.share-block-inner .sharetool.facebook-sharetool a:hover {
    background: #3B5998; }
.share-block-inner .sharetool.twitter-sharetool a:hover {
    background: #4099FF; }
.share-block-inner .sharetool.email-sharetool a:hover, .share-block-inner .sharetool.show-all-sharetool a:hover {
    background: #666666; }
.share-block-inner .sharetool a {
    width: 25px;
    height: 25px;
    background: #000000;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 50%;
    text-align: center; }
.share-block-inner .sharetool a i {
    font-size: 13px; }

@media (max-width: 1649px) {
    .atm-targeted-modal {
        margin-left: -30px; } }
@media (max-width: 1279px) {
    .atm-targeted-modal {
        width: 660px; } }
@media (max-width: 1199px) {
    .atm-targeted-modal {
        margin-left: -15px; } }
@media (max-width: 1154px) {
    .atm-targeted-modal {
        width: 630px; } }
@media (min-width: 765px) and (max-width: 1019px) {
    .atm-targeted-modal {
        width: 705px;
        margin-left: 0; } }
@media (max-width: 764px) {
    .atm-targeted-container {
        width: 100%; }

    .atm-targeted-modal {
        width: 540px;
        margin-left: 0;
        left: 45px;
        position: absolute; } }
@media (max-width: 599px) {
    .atm-targeted-modal {
        width: 100%;
        left: 0; } }

.atm-avatar-small {
    float: left;
    margin-right: 50px;
}

.atm-heading-info {
    display: inline-block;
}

.text-right {
    float: right;
    margin-left: 50px;
}