@charset "UTF-8";
@font-face {
  font-family: FuturaICG;
  src: url(../fonts/FuturaICG.ttf); }
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

img {
  display: block;
  max-width: 100%; }

.align-right {
  text-align: right; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  clear: both; }

ul li {
  list-style: none; }

.hidden {
  display: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/*body {*/
  /*padding: 40px 0;*/
  /*font-size: 14px;*/
  /*font-family: 'FuturaICG', sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale; }*/

.accent-color {
  color: #1b93f2; }

/*main {*/
  /*width: 1100px;*/
  /*margin: 0 auto; }*/

.custom-icon {
  background: url("../images/heading-icons.png") no-repeat;
  display: inline-block;
  vertical-align: top; }
  .custom-icon.cog {
    width: 42px;
    height: 43px;
    background-position: 0 0; }
  .custom-icon.edit {
    width: 49px;
    height: 45px;
    background-position: -43px 0; }
  .custom-icon.templates {
    width: 43px;
    height: 30px;
    background-position: -93px 0; }

h1.heading {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 48px; }
  h1.heading .custom-icon {
    margin: 0 25px 0 15px; }
    h1.heading .custom-icon.templates {
      margin-top: 8px; }

.content {
  background: #fdfdfd;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
  padding: 50px 70px;
  margin: 20px 0; }
  .content.templating {
    padding: 50px; }

.form-type-textfield, .form-type-email {
  padding-top: 20px;
  position: relative; }
  .form-type-textfield label, .form-type-email label {
    display: block;
    color: rgba(0, 0, 0, 0.38);
    line-height: 28px;
    -webkit-transform: translateY(24px);
    -moz-transform: translateY(24px);
    -o-transform: translateY(24px);
    transform: translateY(24px);
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    top: 0;
    position: absolute;
    left: 0;
    pointer-events: none; }
  .form-type-textfield input, .form-type-email input {
    height: 32px; }
  .form-type-textfield input, .form-type-email input {
    display: block;
    width: 100%;
    box-shadow: none;
    cursor: text;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #e9e9dd;
    font-size: 13px;
    font-family: FuturaICG, sans-serif;
    color: rgba(0, 0, 0, 0.7); }
    .form-type-textfield input:focus + .bar:after,
    .form-type-email input:focus + .bar:after {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .form-type-textfield input:focus ~ label,
    .form-type-email input:focus ~ label {
      color: #1b93f2;
      -webkit-transform: scale(0.85) translateY(0);
      -moz-transform: scale(0.85) translateY(0);
      -o-transform: scale(0.85) translateY(0);
      transform: scale(0.85) translateY(0);
      line-height: normal; }
    .form-type-textfield input:valid ~ label,
    .form-type-email input:valid ~ label {
      color: #1b93f2;
      -webkit-transform: scale(0.85) translateY(0);
      -moz-transform: scale(0.85) translateY(0);
      -o-transform: scale(0.85) translateY(0);
      transform: scale(0.85) translateY(0);
      line-height: normal; }
  .form-type-textfield .bar,
  .form-type-email .bar {
    position: relative;
    display: block;
    width: 100%; }
    .form-type-textfield .bar:before,
    .form-type-email .bar:before {
      right: 0;
      bottom: 0;
      height: 1px;
      content: '';
      position: absolute;
      left: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .form-type-textfield .bar:after,
    .form-type-email .bar:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 2px;
      background-color: #1b93f2;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      -moz-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      -o-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.btn {
  display: inline-block;
  border: 0;
  background: #1b93f2;
  color: #fff;
  text-transform: uppercase;
  padding: 0 20px;
  font: 14px/36px 'FuturaICG', sans-serif;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover, .btn:focus {
    cursor: pointer;
    background: #0c78ce;
    color: #fff;
  }

.flex-container {
  display: flex;
  display: -webkit-flex; }
  .flex-container .flex-end {
    align-self: flex-end;
    -webkit-align-self: flex-end; }
  .flex-container .flex-center {
    align-self: center;
    -webkit-align-self: center; }
  .flex-container .flex-item-1 {
    flex: 0 0 8.33333%;
    -webkit-flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .flex-container .flex-item-2 {
    flex: 0 0 16.66667%;
    -webkit-flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .flex-container .flex-item-3 {
    flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    max-width: 25%; }
  .flex-container .flex-item-4 {
    flex: 0 0 33.33333%;
    -webkit-flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .flex-container .flex-item-6 {
    flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    max-width: 50%; }
  .flex-container .flex-item-7 {
    flex: 0 0 58.33333%;
    -webkit-flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .flex-container .flex-item-8 {
    flex: 0 0 66.66667%;
    -webkit-flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .flex-container .flex-item-10 {
    flex: 0 0 83.33333%;
    -webkit-flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .flex-container .flex-item-11 {
    flex: 0 0 91.66667%;
    -webkit-flex: 0 0 91.66667%;
    max-width: 91.66667%; }

.general-fields {
  padding-bottom: 20px;
  width: 85%; }
  .general-fields .flex-container {
    margin: 0 -15px; }
  .general-fields *[class*='flex-item-'] {
    padding: 0 15px; }

.mockup {
  background: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
  padding: 20px 50px 50px;
  font-family: 'Georgia', serif;
  position: relative; }
  .mockup:before, .mockup:after {
    content: 'article mockup';
    text-transform: uppercase;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.3);
    font-family: 'FuturaICG', sans-serif;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .mockup:before {
    top: -30px; }
  .mockup:after {
    top: 100%; }
  .mockup .logo-img {
    height: 35px;
    margin: 0 auto; }
  .mockup .mockup-head {
    border-width: 1px 0;
    border-color: #1b93f2;
    border-style: solid;
    margin: 20px 0;
    padding: 5px 0 15px 0; }
    .mockup .mockup-head h1 {
      font-weight: bold;
      color: #1b93f2;
      font-size: 24px;
      line-height: 40px;
      font-family: 'Times', serif; }
  .mockup .mockup-cont > p {
    margin: 0 0 20px; }
  .mockup .mockup-cont img {
    margin-bottom: 20px;
    opacity: .7; }
  .mockup .mockup-cont .blurry {
    position: relative; }
    .mockup .mockup-cont .blurry p {
      filter: blur(2.5px); }
    .mockup .mockup-cont .blurry .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      font-size: 12px; }

.icons-cont i {
  display: inline-block;
  font: inherit;
  font-family: sans-serif;
  background: #eee;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center; }

.configuration-fields {
  padding: 0 70px 0 0; }
  .configuration-fields > .form-type-textfield:not(:last-child),
  .configuration-fields > .form-type-email:not(:last-child) {
    padding-bottom: 20px; }

.mixed-fields {
  padding-bottom: 20px; }
  .mixed-fields.custom-label .custom-input {
    padding: 0; }
  .mixed-fields .flex-container {
    margin: 0 -15px; }
    .mixed-fields .flex-container *[class*='flex-item-'] {
      padding: 0 15px; }

.form-type-select {
  overflow: hidden;
  position: relative; }
  .form-type-select:after {
    content: '▾';
    position: absolute;
    top: 0;
    right: 12px;
    z-index: 1;
    color: #bbbbbb;
    font-size: 14px;
    line-height: 32px; }
  .form-type-select:after {
    top: 40%;
    line-height: normal; }

.form-type-select {
  position: relative;
  padding-top: 20px; }
  .form-type-select label {
    top: 0;
    position: absolute;
    left: 0;
    color: #1b93f2;
    font-size: 12px;
    font-weight: normal;
  }

select {
  position: relative;
  background: transparent no-repeat;
  display: block;
  width: 100%;
  outline: none;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 2;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 31px;
  font-size: 14px;
  font-family: 'FuturaICG', sans-serif;
  -webkit-appearance: none; }

select:focus, select:hover {
  background: none;
  box-shadow: none;
}

.form-item .description {
  font-size: 12px;
  line-height: normal;
  padding: 7px 0 0;
  color: rgba(0, 0, 0, 0.7); }

.custom-tooltip {
  position: relative;
  color: rgba(0, 0, 0, 0.5); }
  .custom-tooltip.active {
    color: rgba(0, 0, 0, 0.7); }
  .custom-tooltip:hover {
    cursor: pointer; }
    .custom-tooltip:hover .tooltip {
      opacity: 1;
      -webkit-transform: translateX(8px);
      -moz-transform: translateX(8px);
      -o-transform: translateX(8px);
      transform: translateX(8px); }
      .custom-tooltip:hover .tooltip .tooltip__background {
        -webkit-transform: scale(3) translateX(-50%);
        -moz-transform: scale(3) translateX(-50%);
        -o-transform: scale(3) translateX(-50%);
        transform: scale(3) translateX(-50%); }

.tooltip {
  z-index: 1051;
  min-width: 1px;
  left: 45px;
  top: 5px;
  /*border-radius: 2px;*/
  opacity: 0;
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  overflow: hidden;
  max-width: 200px;
  width: auto; }

.tooltip__background {
  background-color: #757575;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform: scale(0) translateX(-50%);
  -moz-transform: scale(0) translateX(-50%);
  -o-transform: scale(0) translateX(-50%);
  transform: scale(0) translateX(-50%);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.tooltip__label {
  padding: 4px 8px;
  line-height: normal;
  color: #FFF;
  display: block;
  font-size: 12px;
  white-space: nowrap; }

.templates-menu li {
  margin-bottom: 20px;
  text-align: center;
  padding: 0 20px 0 0; }
  .templates-menu li .mdi {
    font-size: 25px; }

.testing-fields {
  padding: 0 0 0 30px; }
  .testing-fields h3 {
    font-size: 20px;
    margin: 0 0 20px; }
  .testing-fields .field {
    padding: 20px 0; }
  .testing-fields input[type="text"] {
    height: 24px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    background: transparent;
    width: 50%;
    display: inline-block;
    padding: 0 5px;
    font-size: 13px;
    font-family: 'FuturaICG', sans-serif; }

.custom-checkbox {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: rgba(0, 0, 0, 0.26);
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .custom-checkbox:after {
    position: absolute;
    left: -2px;
    top: -3px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.28);
    content: '';
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .custom-checkbox:active:after {
    -webkit-transform: scale(1.15, 0.85);
    -moz-transform: scale(1.15, 0.85);
    -o-transform: scale(1.15, 0.85);
    transform: scale(1.15, 0.85); }

.cbx:checked ~ label {
  background: #7bc1f8; }
  .cbx:checked ~ label:after {
    left: 20px;
    background: #1b93f2; }

/*# sourceMappingURL=main.css.map */

.form-wrapper {
  border: none;
}

.details-wrapper {
  background: #fdfdfd;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
  padding: 50px 70px;
  margin: 20px 0;
  display: inline-block;
  width: 100%;
}

details summary {
  padding-top: 15px;
}

details summary:before {
  content: "";
  display: inline-block;
  vertical-align: top;
}

#edit-general summary:before {
  background: url("../images/heading-icons.png") no-repeat 0 0;
  margin: -15px 10px 0 0;
  width: 42px;
  height: 43px;
}

#edit-content summary:before {
  background: url("../images/heading-icons.png") no-repeat -43px 0;
  margin: -10px 3px 0 0;
  width: 49px;
  height: 45px;
}

#edit-template summary:before {
  background: url("../images/heading-icons.png") no-repeat -93px 0;
  margin: -8px 8px 0 0;
  width: 43px;
  height: 30px;
}

#edit-general .form-item {
  width: 400px;
}

#edit-general .form-item-api-key,
#edit-general .form-item-country,
#edit-general .form-item-revenue-model,
#edit-general .form-item-email,
#edit-general .activate {
  float: left;
}

#edit-general .form-item-country,
#edit-general .form-item-email {
  clear: both;
}

#edit-general .form-item-api-key,
#edit-general .form-item-country,
#edit-general .form-item-email {
  margin-right: 40px;
}

#edit-general .button {

  border-radius: 0;
}

#edit-general .button:hover, button:focus {
  color: #fff;
}

.regenerate:before {
  content: "\F06A";
}

#edit-content {
  clear: both;
}

#edit-content .form-item {
  width: 255px;
}

#edit-content .form-item-content-pricing,
#edit-content .form-item-content-paywall,
#edit-content .form-item-content-preview {
  float: left;
  margin-right: 40px;
}

#edit-content .form-item-content-paywall,
#edit-content .form-item-content-preview,
#edit-content .form-item-locking-algorithm {
  clear: both;
}

#edit-content .form-item-locking-algorithm,
#edit-content .form-item-dns-access,
#edit-content .form-item-social-media {
  width: 553px;
}
