<div class="template-name" data-view-text="expanded">
    <strong>Expanded view</strong>
    <hr>
    <br>
</div>
<div id="render-pay-expanded" class="modal-shown" data-view="expanded"></div>

<br>
<br>
<br>

<div class="template-name" data-view-text="collapsed">
    <strong>Collapsed view</strong>
    <hr>
    <br>
</div>
<div id="render-pay-collapsed" class="modal-shown" data-view="collapsed"></div>
