{{ general_configuration }}

<div class="clearfix"></div>

<div class="layout-column layout-column--half">
    {{ content_configuration }}
</div>

<div class="layout-column layout-column--half">
    will be preview for content
</div>

<div class="clearfix"></div>


{{ templates_management }}
