<div class="atm-targeted-container sm">
    <div class="atm-targeted-modal">
        <div class="atm-head-modal">
            <div class="atm-modal-heading">
                <div class="flex-row align-center">
                    <div class="flex-item-1 avatar-sm">
                        <div class="atm-avatar-small">
                            <img alt="Article Author"
                                 src="https://img.washingtonpost.com/wp-apps/imrs.php?src=http://wp-eng-static.washingtonpost.com/author_images/cillizzacm.jpg?ts=1439417526748&amp;w=180&amp;h=180">
                        </div>
                    </div>
                    <div class="atm-heading-info flex-item-10">
                        Support quality journalism.
                        <div class="hide-sm">
                            <a>Get involved</a>
                            and
                        </div>
                        <button class="atm-button pledge-targeted">
                            <i aria-hidden="true" class="fa fa-ok"></i> pledge 5¢
                        </button>
                        <div class="hide-sm">
                            now.
                        </div>
                    </div>
                    <div class="flex-item-1 text-right">
                        <i class="atm-open-modal atm-open-modal-action fa fa-angle-circled-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
